@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans";
  background: #dedede;
}

button {
  margin-left: 30px;
  color: #1195c9;
  border: 1px solid #1195c9;
  background: #d5f0ff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 140px;
  height: 40px;
}
button.active {
  color: #ff53a3;
  border: 1px solid #ff53a3;
  background: #ffdded;
}
